@{
    ViewData["Title"] = "Inicio";
}

<div class="card-excursion text-center">
    <img src="/img/banner_excursionistas.jpg" alt="Excursionistas" class="img-excursion" style="max-width:100%;height:220px;object-fit:cover;" />
    <h1 class="display-4 fw-bold mb-3" style="color:#388e3c;">¡Bienvenido a ExcursionistasApp!</h1>
    <p class="lead mb-4">Planifica tu aventura y selecciona los mejores elementos para escalar el risco, optimizando calorías y peso. <br />
    Descubre la selección óptima para tu excursión y disfruta la naturaleza con seguridad y eficiencia.</p>
    <a href="/Seleccion" class="btn btn-excursion btn-lg">Ir a Selección Óptima</a>
</div>
